PORT=3000
VITE_HOST="http://localhost:3000"

VITE_BASE_URL=
VITE_API_URL=
VITE_CDN_URL=
VITE_API_VERSION=

VITE_INSTANCE_NAME=
VITE_INSTANCE_IMAGE=
VITE_INSTANCE_EMAIL_PASSWORD=
VITE_INSTANCE_DISCORD_CLIENT_ID=
VITE_INSTANCE_DISCORD_AUTH_URL=

VITE_TOKEN=