.sectionDescription {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: var(--header-secondary);
}

.loaderWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.otherSessionsList {
    margin-bottom: 32px;
}

.session {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 16px 0;
    border-bottom: solid 1px var(--background-modifier-accent);
}

.session.current,
.otherSessionsList .session:last-child {
    border-bottom: none;
}

.session .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 50%;
    color: var(--background-secondary);
    background-color: var(--interactive-normal);
}

.session .icon svg {
    width: 24px;
    height: 24px;
}

.session .info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.session .info .platform {
    font-size: 12px;
    line-height: 1.3;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    color: var(--text-normal);
}

.session .info .location {
    font-size: 14px;
    line-height: 1.2857142857142858;
    font-weight: 500;
}

.session .logoutBtn {
    width: 24px;
    height: 24px;
    margin-left: auto;
    color: var(--interactive-normal);
    cursor: pointer;
}

.session .logoutBtn:hover {
    color: var(--interactive-hover);
}