.member {
    display: flex;
    align-items: center;
    flex: 1;
    height: 42px;
    margin-left: 8px;
    padding: 2px 8px;
    border-radius: 4px;
    cursor: pointer;
    color: var(--channels-default);
}

.member:hover {
    background-color: var(--background-modifier-hover);
}

.member:active {
    color: var(--interactive-active);
    background-color: var(--background-modifier-active);
}

.member.offline:not(:hover) {
    opacity: 0.3;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    -webkit-user-drag: none;
}

.memberContent {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    overflow: hidden;
}

.name {
    flex: 0 1 auto;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icon {
    position: relative;
    top: 1px;
    width: 14px;
    height: 14px;
    flex: 0 0 auto;
}

.icon.crown {
    margin-left: 4px;
    color: var(--text-warning);
}
